# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java.project\mybatis12-generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
